@keyframes zoom {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1.2); }
}

.page-homepage,
.home {
  #primary {
    h1 {
      @extend %hidden;
    }
  }
  
  #masthead {
    .header-navigation {
      display: block;
      position: relative;
      width: auto;
    }
  }

  .site-branding {
    float: none;
    width: auto;

    .site-title {
      img {
        margin: 0 auto;
        max-height: none;
      }
    }
  }
}
