body {
  background: $black;
  color: $white;
  font-family: $font-raleway;
  font-size: 10px;
  font-weight: 500;
}

img {
  @extend %fluid-image;

  @include susy-breakpoint($tablet, $susy) {
    display: inline;
  }
}

.row {
  @extend %clearfix;
}

.wrapper {
  @extend %clearfix;
  @include container;
}

.content-area {
  @include container;
  font-size: inherit;
  max-width: $max-width-px;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
}

a {
  color: $white;
  transition: none;

  &:focus,
  &:active {
    outline: none;
  }
}

.site {
  width: auto;
}

#sidebar {
  background: $black;
  overflow: hidden;
  padding: 0;

  .admin-bar & {
    top: 48px;

    @include susy-breakpoint($tablet, $susy) {
      top: 32px;
    }
  }

  .sidebar-toggled & {
    width: 95%;

    @include susy-breakpoint($tablet, $susy) {
      width: 300px;
    }
  }

  .main-navigation {
    @extend %font-bold-italic;
    font-family: $font-lobster;
    margin: 0 0 30px;
    padding: 0;
    text-align: left;
    text-shadow: 0 0 0;

    li {
      font-size: 16px;
      margin: 0 0 $gutter-width;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $white;
      padding: 0;
      transition: all .2s ease-out;

      &:hover {
        color: $blaze-orange;
      }
    }
  }

  .site-social {
    margin: 0 0 0 -8px;
  }

  .sidebar-inner {
    max-width: none;
    padding: $gutter-width;
    transition: none;
  }

  .site-branding {
    animation: none;
    float: none;
    margin: 0 0 30px;
    max-width: 120px;
    transition: none;

    .site-title {
      a {
        margin: 0 auto;
      }
    }
  }

  .sidebar-toggle {
    color: $white;
    display: block;
    font-size: 26px;
  }
}

.sidebar-toggle {
  @extend %reset;
  animation: none;
  color: $white;
  display: block;
  font-size: 26px;
  right: $gutter-width;
  top: 5px;
  transform: none;

  @include susy-breakpoint($tablet, $susy) {
    display: none;
    top: 20px;
  }

  .sidebar-toggled &,
  .sidebar-toggled.admin-bar {
    display: none;
    position: absolute;
    top: 5px !important;
    transform: none !important;

    @include susy-breakpoint($tablet, $susy) {
      top: 20px;
    }
  }
}

.social {
  @extend %reset;

  li {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $white;

    &:hover {
      color: $blaze-orange;
    }
  }
}

#masthead {
  background: $black;

  .header-navigation {
    @extend %font-bold-italic;
    display: none;
    font-family: $font-lobster;
    font-size: 32px;
    margin: 0 0 80px;
    text-align: center;
    text-transform: none;

    .menu-header-container {
      animation: none;
      right: auto;

      ul {
        @extend %reset;
        display: inline;
        text-align: left;

        li {
          margin: 0 205px 0 0;

          &:last-child {
            margin-right: 0;
          }

          a {
            color: $white;

            &:hover {
              color: $blaze-orange;
            }
          }
        }
      }
    }
  }

  .site-branding {
    animation: none;
    transition: none;

    .site-title {
      a {
        display: block;
      }

      img {
        display: block;
      }
    }
  }
}

.site-branding {
  animation: none;
  padding: 0;

  @include susy-breakpoint($tablet, $susy) {
    @include span(2);
  }

  .sidebar-toggled & {
    width: auto;
  }

  .site-title {
    img {
      margin: 0;
      max-height: 40px;

      @include susy-breakpoint($tablet, $susy) {
        max-height: 80px;
      }
    }
  }

  .site-description {
    @extend %hidden;
  }
}

.site-header-image {
  display: none;
}

#colophon {
  background: $black;
  font-size: 13px;
}

.align-center {
  text-align: center;
}

.hentry {
  @extend %reset;
}

.page-content, 
.entry-content, 
.entry-summary {
  @extend %reset;
}

#sidenav {
  display: none;
  margin-bottom: 40px;
  position: relative;
  text-align: center;

  @include susy-breakpoint($tablet, $susy) {
    margin-bottom: 0;
    text-align: left;
  }

  .content {
    padding-top: 30px;
  }

  ul {
    @extend %reset;
    @extend %font-bold;
    display: none;
    font-size: 16px;
    margin: 0 0 70px;
    text-transform: uppercase;

    @include susy-breakpoint($tablet, $susy) {
      display: block;
    }

    li {
      margin: 0 0 10px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $white;
        text-decoration: none;

        &.active,
        &:focus,
        &:active,
        &:hover {
          color: $blaze-orange;
          outline: none;
        }
      }
    }
  }

  select {
    background: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 20px;
    padding: 5px;

    @include susy-breakpoint($tablet, $susy) {
      display: none;
    }
  }

  .button {
    @include susy-breakpoint($tablet, $susy) {
      font-size: 25px;
      padding: 8px 35px;
    }
  }
}

#primary {
  position: relative;
}

h1 {
  @extend %font-bold-italic;
  font-family: $font-lobster;
  font-size: 32px * $mobile-conversion;
  margin: 0 0 $gutter-width;
  text-align: center;

  @include susy-breakpoint($tablet, $susy) {
    font-size: 32px;
  }
}

#content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend %font-medium;
    color: $white;
    font-family: $font-raleway;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: none;
  }

  .site-main {
    h1 {
      @extend %font-bold-italic;
      font-family: $font-lobster;
      font-size: 25px;
      margin: 0 0 $gutter-width;
      text-align: center;

      @include susy-breakpoint($tablet, $susy) {
        font-size: 32px;
      }
    }
  }

  .menu {
    background: $white;
    border-radius: 15px;
    color: $black;
    padding: $gutter-width;

    * {
      color: $black;
      font-size: 16px;
    }

    p {
      margin: 0;
    }

    &__header {
      border-bottom: 1px solid $black;
      margin: 0 0 10px;
      padding: 0 0 10px;
    }

    &__category {
      color: $milano-red;
      font-size: 24px * $mobile-conversion;
      line-height: 1.2;
      margin: 0 0 3px;
      position: relative;

      @include susy-breakpoint($tablet, $susy) {
        font-size: 24px;
      }
    }

    &__price {
      color: $milano-red;
      display: block;
      font-size: 24px * $mobile-conversion;
      margin: 3px 0 0;

      @include susy-breakpoint($tablet, $susy) {
        bottom: 0;
        display: inline;
        font-size: 24px;
        margin: 0;
        position: absolute;
        right: 0; 
      }
    }

    &__subtext {
      color: $milano-red;
      font-size: 18px;
    }

    &__description {
      @extend %font-medium-italic;
      font-size: 14px;
    }

    &__items {
      padding: 4px 0;
    }

    &__item {
      margin: 0 0 $gutter-width;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__item-header {
      @extend %clearfix;
      position: relative;
    }

    &__item-name {
      color: $milano-red;
      line-height: 1.2;
      margin: 0 0 2px;
    }

    &__item-prices {
      @include susy-breakpoint($tablet, $susy) {
        position: absolute;
        right: 0;
        top: -4px;
      }
    }

    &__item-price {
      color: $milano-red;
    }

    &__item-subtext {
      @extend %font-regular-italic;
      color: $black;
      font-size: 14px;
    }

    &__item-subitems {
      padding: 8px 0 0;
    }

    &__item-subitem {
      margin: 0 0 10px;
    }

    &__subitem-name {
      line-height: 1.2;
      margin: 0;
    }

    &__subitem-subtext {
      @extend %font-regular;
      color: $black;
      font-size: 14px;
    }
  }
}

.masonry-layout {
  @include susy-breakpoint($tablet, $susy) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  &__panel {
    margin: 0 0 $gutter-width;

    @include susy-breakpoint($tablet, $susy) {
      display: inline-block;
      margin: 0 0 10px;
      width: 100%;
    }

    &:nth-child(even) {
      @include susy-breakpoint($tablet, $susy) { 
        order: 2;
      }
    }
  }
}

#reveal-modal-id {
  background: $milano-red;
  color: $white;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 40px $gutter-width;
  top: 0;
  width: 100%;
  z-index: 9999;

  h1 {
    color: $white;
    margin: 0 0 50px;
  }

  .admin-bar & {
    top: 48px;

    @include susy-breakpoint($tablet, $susy) {
      top: 32px;
    }
  }

  .close-reveal-modal {
    @extend %font-regular;
    color: $white;
    font-size: 65px;
    right: 10px;
    top: 0;

    @include susy-breakpoint($tablet, $susy) {
      font-size: 120px;
      right: 20px;
      top: -20px;
    }
  }

  .next-post-reveal-nav,
  .prev-post-reveal-nav {
    display: none;
  }

  .locations {
    display: block;
    margin: 0 -$gutter-width;
  }
}

.button {
  @extend %font-bold-italic;
  border: 1px solid $blaze-orange;
  border-radius: 20px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-lobster;
  font-size: 18px;
  padding: 8px 25px;
  text-decoration: none;

  &:hover {
    color: $blaze-orange;
  }
}

.locations {
  display: none;
}

.location {
  @extend %clearfix;
  border-bottom: 1px solid $new-york-pink;
  font-size: 16px;
  text-align: center;

  @include susy-breakpoint($tablet, $susy) {
    text-align: left;
  }

  &:last-child {
    border: 0;
  }

  &__top {
    padding: 30px 0;
  }

  .col-a {
    padding: 0 $gutter-width;

    @include susy-breakpoint($tablet, $susy) {
      padding-right: 0;
      text-align: right;
    }
  }

  .col-b {
    padding: 0 $gutter-width;

    @include susy-breakpoint($tablet, $susy) {
      padding-left: 0;
    }
  }

  .button {
    color: $white;
    margin: 0 0 $gutter-width;

    @include susy-breakpoint($tablet, $susy) {
      margin: 15px 0 0;
    }
  }

  .services {
    background: $white;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    transition: all .3s ease-out;

    &__content {
      @extend %clearfix;
      display: inline-block;
    }

    h6 {
      @extend %font-regular-italic;
      color: $black;
      font-family: $font-lobster;
      font-size: 16px;
      margin: 10px 0;
      text-transform: none;

      @include susy-breakpoint($tablet, $susy) {
        display: inline-block;
        margin: 40px 10px 0 0;
      }
    }

    ul {
      @extend %reset;
      display: inline-block;
      vertical-align: top;

      @include susy-breakpoint($tablet, $susy) {
        height: 99px;
      }

      li {
        display: inline-block;
      }

      img {
        display: block;
      }

      a {
        display: block;
        height: 59px;
        width: 75px;

        @include susy-breakpoint($tablet, $susy) {
          height: 99px;
          width: 140px;
        }

        &:hover {
          background: $pot-pourri;
        }
      }
    }
  }

  &.open {
    .services {
      max-height: 200px;
    }
  }
}
