%fluid-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
}

%clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

%reset {
  border: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

%wrapper {
  padding-left: $gutter-width;
  padding-right: $gutter-width;
}

%hidden {
  height: 1px;
  left: -999em;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

%font-regular {
  font-weight: 400;
}

%font-regular-italic {
  @extend %font-regular;
  font-style: italic;
}

%font-medium {
  font-weight: 500;
}

%font-medium-italic {
  @extend %font-medium;
  font-style: italic;
}

%font-semi-bold {
  font-weight: 600;
}

%font-semi-bold-italic {
  @extend %font-medium;
  font-style: italic;
}

%font-bold {
  font-weight: 700;
}

%font-bold-italic {
  @extend %font-bold;
  font-style: italic;
}

%font-extra-bold {
  font-weight: 800;
}

%font-extra-bold-italic {
  @extend %font-extra-bold;
  font-style: italic;
}

%font-black {
  font-weight: 900;
}

%font-black-italic {
  @extend %font-black;
  font-style: italic;
}
